@model Pizza_project.Models.Order
@{
    ViewData["Title"] = "Small";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Small</h1>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Select Pizza Size :</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            @*<div class="form-group">
            <label asp-for="orderId" class="control-label"></label>
            <input asp-for="orderId" class="form-control" />
            <span asp-validation-for="orderId" class="text-danger"></span>
            </div>*@




             <div class="form-group">

            Check PizzaID for selecting a Pizza :

            <select class="form-control" id="name" name="name" >
            <option></option>
            <option id="pizza" value="1">6) Margherita (S) - Veg</option>
            <option class="pizza" value="2">7) Margherita (M) - Veg</option>
            <option class="pizza" value="3">9) Margherita (L)- Veg</option>
            <option class="pizza" value="4">11) Veggie Delight (S)- Veg</option>
            <option class="pizza" value="5">12) Veggie Delight (M)- Veg</option>
            <option class="pizza" value="6">13) Veggie Delight (L)- Veg</option>
            <option class="pizza" value="8">14) Paneer Tikka (S)- Veg</option>
            <option class="pizza" value="9">15)Paneer Tikka (M)- Veg</option>
            <option class="pizza" value="10">16) Paneer Tikka (L)- Veg</option>
            <option class="pizza" value="11">17) Pepperoni (S)- Non Veg</option>
            <option class="pizza" value="12">18) Pepperoni (M)- Non Veg</option>
            <option class="pizza" value="13">19) Pepperoni (L)- Non Veg</option>
            <option class="pizza" value="14">20) Pepperoni (S)- Non Veg</option>
            <option class="pizza" value="15">21) BBQ Chicken (M)- Non Veg</option>
            <option class="pizza" value="16">22) BBQ Chicken (L)- Non Veg</option>
            <option class="pizza" value="17">23) Hawaiian (S)- Non Veg</option>
            <option class="pizza" value="18">25) Hawaiian (M)- Non Veg</option>
            <option class="pizza" value="19 ">26) Hawaiian (L)- Non Veg</option>

            </select>

            </div>
            <br />



@*
             <div class="form-group">
            <label asp-for="pizzaId" class="control-label"></label>
            <select asp-for="pizzaId" class ="form-control" asp-items="ViewBag.pizzaId"></select>
            </div>
            <br />
            <div class="form-group">
            <label asp-for="orderDate" class="control-label"></label>
            <input asp-for="orderDate" class="form-control" />
            <span asp-validation-for="orderDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
            <label asp-for="style" class="control-label"></label>
            <input asp-for="style" class="form-control" />
            <span asp-validation-for="style" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
            <label asp-for="add_flavour" class="control-label"></label>
            <input asp-for="add_flavour" class="form-control" />
            <span asp-validation-for="add_flavour" class="text-danger"></span>
            </div>
            <br />*@

            @*<div class="form-group">
            <label asp-for="no_of_pizza" class="control-label"></label>
            <input asp-for="no_of_pizza" class="form-control" />
            <span asp-validation-for="no_of_pizza" class="text-danger"></span>
            </div>*@

            @* <div class="form-group">
            <label asp-for="address" class="control-label"></label>
            <input asp-for="address" class="form-control" />
            <span asp-validation-for="address" class="text-danger"></span>
            </div>*@
            <br />
            @* <div class="form-group">
            <label asp-for="total_amount" class="control-label"></label>
            <input asp-for="total_amount" class="form-control" />
            <span asp-validation-for="total_amount" class="text-danger"></span>
            </div>

            <br />

            @* manually entered*@

            <div class="form-group">
                <label> SIZE &nbsp; :&nbsp </label>
                <select name="forma" onchange="location = this.value;">
                    <option>Select Size</option>
                    <option value="Small" target="_blank">Small</option>
                    <option value="Medium" target="_blank">Medium</option>
                    <option value="Large" target="_blank">Large</option>
                </select>
            </div>
            <br>
            <br>

             <div class="form-group">
            <tr>
            <label>Price</label>
            <td><input type="text" name="PPRICE" id="PPRICE" value="" /></td>
            <br>
            <br>

            <label for="quantity">No of Pizza</label>
            <td><input type="text" value="" name="QTY" id="QTY" onKeyUp="multiply()" /></td>
            <br>
            <br>
            <label for="quantity">Total Amount</label>
            <td><input type="text" name="TOTAL" id="TOTAL" /></td>
            </tr>
            </div>
            <br>
            <br>


             <div class="form-group">
            <input type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function multiply() {
        a = Number(document.getElementById('QTY').value);
        b = Number(document.getElementById('PPRICE').value);
        c = a * b;

        document.getElementById('TOTAL').value = c;
        console.log(c)
    }
</script>