@{
    ViewData["Title"] = "Home Page";
}
<style>
        .navbar-expand-sm{
            background-color: #9E4D3C;
        }
        h2{
            font-size: 32px;
            line-height: 38px;
            color: #e31837;
            font-family: "OneDot-Condensed";
        }
</style>
<img align="middle" src="~/css/be-pizza-1 (2).jpg" />
<div class="History">
    <h2>History</h2>
    <hr />
    <p>
        Pizza Kadai came from humble beginnings in 1960, with just one store.<br />
        Pizza Kadai proudly continues its legacy of delivering great-tasting pizza to customers’ doors.
    </p>
</div>
<br />
<h2>Connect with us:</h2>
<hr />
<a href="https://twitter.com/" target="_blank">
    <img src="~/css/twitter2.jpg" height="=50" width="50" />
</a>
<a href="https://Facebook.com/" target="_blank">
    <img src="~/css/facebook.jpg" height="50" width="50" />
</a>
